<mat-toolbar color="primary">
  <span>Earn your candy</span>
</mat-toolbar>
<mat-progress-bar mode="determinate" color="warn" [value]="progressbarValue"></mat-progress-bar>
<main>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title *ngIf="!started">Start game</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <p *ngIf="started" [innerHTML]="wsQuestions.question">
      </p>
      <mat-radio-group *ngIf="started" aria-label="Select an option" [ngModel]="userAnswer"
        (ngModelChange)="answered($event)">
        <mat-radio-button *ngFor="let answer of wsQuestions.answers" [value]="answer">
          <span [innerHTML]="answer"></span>
        </mat-radio-button>
      </mat-radio-group>

      <div class="buttons-container" *ngIf="!started">
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        <button mat-raised-button color="accent" [disabled]="loading" (click)="start()">Start</button>
      </div>
    </mat-card-actions>
  </mat-card>

</main>